body{
  background-image: url('marble.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border:13px black dashed;


}
.txtvd{
  width: 100%;
  height: 700px;
  padding:5%;
}
#txt  {
  width: 40%;
  height: 100%;
  float: left;
}


#vd{
  width: 40%;
  height: 100%;
float: right;
padding-right: 10%;
}
